<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nibbledebt.nibble" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <permission android:name="com.nibbledebt.permission.C2D_MESSAGE" android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter >
                <action android:name="com.nibbledebt.nibble.registration.RegistrationIntentService" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
            <!--android:name=".listeners.MessageListenerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <service
            android:name=".listeners.GcmInstanceListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name=".listeners.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.nibbledebt" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <service android:name=".listeners.GcmMessageHandler" />
    </application>
<!--
    Server API Key help
AIzaSyA9vZaHvRuwjwD93FtIlEFNMoyvI1NEeYc
Sender ID help
728820095015

{"project_info":{"project_id":"nibble-919a2","project_number":"728820095015","name":"Nibble"},"client":[{"client_info":{"mobilesdk_app_id":"1:728820095015:android:7cb19206093f9d21","client_id":"android:com.nibbledebt","client_type":1,"android_client_info":{"package_name":"com.nibbledebt"}},"oauth_client":[],"api_key":[],"services":{"analytics_service":{"status":1},"cloud_messaging_service":{"status":2,"apns_config":[]},"appinvite_service":{"status":1,"other_platform_oauth_client":[]},"google_signin_service":{"status":1},"ads_service":{"status":1}}}],"client_info":[],"ARTIFACT_VERSION":"1"}
 -->
</manifest>
