<div ng-controller="ForgotCtrl" ng-init="dataInit()">

    <form name="forgot.form" class="form-primary" novalidate
          xt-form strategy="focusedAndDirtyOrSubmitted"
          ng-switch="forgot.condition"
          focus-error="true" role="form">
        <div ng-switch-default>
            <div class="form-group">
                <h3 class="form-primary-heading">To retrieve your password, enter your email address below</h3>
            </div>
            <alert class="text-center" ng-repeat="alert in msg_alerts" type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
            <div class="form-group">
                <input type="email" class="form-control empty"
                       placeholder="&#xf0e0;    Email address" name="email"
                       required ng-model="forgot.email"
                       autofocus xt-validation-tooltip >
            </div>
			<br/>
            <div class="form-group">
                <button class="btn btn-lg btn-nibble-primary btn-block"
                        ng-click="sendPassword()"
                        ng-disabled="invalidForgotForm()">
                    Reset
                </button>
            </div>
        </div>

        <div ng-switch-when="complete">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <p>Please check your email for further instructions on how to
                        reset your password.</p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-offset-1">
                <small><a href="" ng-click="goToLogin()"><i
                        class="fa fa-arrow-left"></i> Back to login</a></small>
            </div>
        </div>
    </form>


</div>