<div class="container">
    <div class="row">
        <div class="col-md-12 text-center center-block">
            <img alt="Nibble" ng-src="../images/logo.png" class="img-responsive nibble-logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 logo-header  text-center ">
            Nibble
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 logo-punch">
            Crowdsourcing Change for Financial Freedom!
        </div>
    </div>

    <div class="modal fade"
         data-backdrop="static"
         data-keyboard="false"
         data-loading
         tabindex="-1"
         role="dialog"
         aria-hidden="true"
         style="padding-top:40%; overflow-y:visible;">
        <div class="modal-dialog modal-m">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div id="user-content"
                 class="col-md-6 col-md-offset-3 login-panel light-pattern"
                 ui-view></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
