<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Activate your Nibble Account</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<style>
.btn-nib-main {
	color:;
	background-color: #FF7A38;
	border-color: #FF7A38;
}

.btn-nib-main:hover, .btn-nib-main:focus, .btn-nib-main:active,
	.btn-nib-main.active, .open .dropdown-toggle.btn-nib-main {
	color:;
	background-color: #F25D13;
	border-color: #FF7A38;
}

.btn-nib-main:active, .btn-nib-main.active, .open .dropdown-toggle.btn-nib-main
	{
	background-image: none;
}

.btn-nib-main.disabled, .btn-nib-main[disabled], fieldset[disabled] .btn-nib-main,
	.btn-nib-main.disabled:hover, .btn-nib-main[disabled]:hover, fieldset[disabled] .btn-nib-main:hover,
	.btn-nib-main.disabled:focus, .btn-nib-main[disabled]:focus, fieldset[disabled] .btn-nib-main:focus,
	.btn-nib-main.disabled:active, .btn-nib-main[disabled]:active, fieldset[disabled] .btn-nib-main:active,
	.btn-nib-main.disabled.active, .btn-nib-main[disabled].active, fieldset[disabled] .btn-nib-main.active
	{
	background-color: #FF7A38;
	border-color: #FF7A38;
}

.btn-nib-main .badge {
	color: #FF7A38;
	background-color:;
}


.email-body {
	color: #FFF;
	background-color: #663D00;
	width: 100%;
}

html {
	background-color: #ffe0d1;
}

body {
	background-color: #ffe0d1;
	width: 400px;
}

.logo-header {
	color: #FFF;
	text-align: center;
	font-family: FontAwesome, "Segoe UI", "Helvetica Neue", Helvetica, Arial,
		sans-serif, Raleway;
	text-rendering: optimizeLegibility;
	font-size: 82px;
	position: inherit;
	line-height: 1.1em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 200;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	margin-top: -20px;
}

.logo-punch {
	color: #FA8E09;
	text-align: center;
	font-family: Raleway;
	font-size: 32px;
	line-height: 1.3em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}

</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6  logo-header">
				Nibble
			</div>
		</div>
	</div>
	<div class="container email-body">
		<div class="row">
			<div class="col-md-9 ">
				<p>To take the next step to becoming a Nibbler, please activate your Nibble account. Please click the Activate button below
					to start using your account today.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a href="${activate_link}" class="btn-lg btn-nib-main">Activate</a>
			</div>
		</div>	
	</div>
</body>
</html>
