<div ng-controller="HomeCtrl" ng-init="homePageInit()">
    <div class="page-subheader">
        Nibble Dashboard
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="progress-wrapper" style="text-align: center;">
                <div class="progress-wd ng-cloak" ng-style="getStyle()">{{ showCurrent | currency}} / {{ showMax | currency}}</div>
                <div
                        round-progress
                        max="max"
                        current="current"
                        color="{{ getColor() }}"
                        bgcolor="{{ bgColor }}"
                        radius="{{ radius }}"
                        semi="isSemi"
                        rounded="rounded"
                        stroke="{{ stroke }}"
                        clockwise="clockwise"
                        responsive="responsive"
                        duration="{{ duration }}"
                        animation="{{ currentAnimation }}"
                        offset="{{ offset }}">
                    <svg>
                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="5%"  stop-color="#fa8e09"/>
                            <stop offset="95%" stop-color="green"/>
                        </linearGradient>
                    </svg>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <canvas id="line" class="chart chart-line" chart-data="data" chart-colours="colours"
                        chart-labels="labels" chart-legend="true" chart-series="series"
                         >
                </canvas>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-xs-12">
                <table ng-table="tableSettings" show-filter="false" class="table table-bordered table-striped">
                    <tr ng-repeat="row in $data track by $index">
                        <td title="'From'">{{row.description}}</td>
                        <td title="'Amount'">{{row.trxAmount}}</td>
                        <td title="'Rounded to'">{{row.roundupAmount}}</td>
                        <td title="'Date'">{{row.trxDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>